<div class="continer">

  <div class="profile">
    <div class="profile-img">
      <img src="<%="/img-profiles/#{@user.image_name}"%>">
    </div>
    <div class="profile-name">
      <p>
        <%= @user.name%>
      </p>
    </div>
    <div class="edit">
      <% if @user == @current_user %>
        <% if session[:user_id] %>
          <%=link_to("編集","/users/#{session[:user_id]}/edit")%>
        <% else %>
          <%=link_to("編集","/users/#{session[:guser_id]}/edit")%>
        <% end %>
      <% end %>
    </div>
  </div>
　　<!--プロフィール -->

  <div class="profile-menu">
    <% if session[:user_id] %>
      <%= link_to("投稿一覧", "/users/#{@user.id}/profile")%>
      <%= link_to("いいね一覧", "/likes/#{@user.id}/profile")%>
    <% else %>
      <%= link_to("投稿一覧", "/users/#{@user.id}n/profile")%>
      <%= link_to("いいね一覧", "/likes/#{@user.id}n/profile")%>
    <% end %>
  </div>
  <!--いいねと投稿のページボタン -->
  <div class="main">

    <% @likes.each do |like| %>
     <% if like.post_user != nil %> <!-- 削除されたPOSTを表示しない -->
      <div class="tweet-content">
        <div class="tweet-left">
           <img src="<%="/img-profiles/#{like.post_user.image_name}"%>">
        </div>
        <div class="tweet-right">
          <div class="tweet-name">
              <% if like.user %>
                <%= link_to(like.post_user.name,"/users/#{like.post_user.id}/profile") %>
              <% else %>
                <%= link_to(like.post_user.name,"/users/#{like.post_user.id}n/profile") %>
              <% end %>
          </div>
          <div class="tweet">
               <% if like.user %>
                  <%= link_to(like.post.content,"/posts/#{like.post_id}") %>
                <% else %>
                  <%= link_to(like.post.content,"/posts/#{like.post_id}n") %>
                <% end %>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>

</div>

<!--ツイート一覧。個人の -->
</div>
