<div class="continer">

  <div class="profile">
    <div class="profile-img">
      <img src="<%="/img-profiles/#{@user.image_name}"%>">
    </div>
    <div class="profile-name">
      <p>
        <%= @user.name%>
      </p>
    </div>
    <div class="edit">
      <% if @user == @current_user %>
        <% if session[:user_id] %>
          <%=link_to("編集","/users/#{session[:user_id]}/edit")%>
        <% else %>
          <%=link_to("編集","/users/#{session[:guser_id]}/edit")%>
        <% end %>
      <% end %>
    </div>
  </div>
　　<!--プロフィール -->

  <div class="profile-menu">
    <% if @id.include?("n") %>
      <%= link_to("投稿一覧", "/users/#{@user.id}n/profile")%>
      <%= link_to("いいね一覧", "/likes/#{@user.id}n/profile")%>
    <% else %>
      <%= link_to("投稿一覧", "/users/#{@user.id}/profile")%>
      <%= link_to("いいね一覧", "/likes/#{@user.id}/profile")%>
    <% end %>
  </div>
  <!--いいねと投稿のページボタン -->
  <div class="main">

    <% @likes.each do |like| %>
     <% if like.post_user != nil %> <!-- 削除されたPOSTを表示しない -->
      <div class="tweet-content">
        <div class="tweet-left">
           <img src="<%="/img-profiles/#{like.post_user.image_name}"%>">
        </div>
        <div class="tweet-right">
          <div class="tweet-name">
              <% if like.post.user_id != 0 %>
                <%= link_to(like.post_user.name,"/users/#{like.post_user.id}/profile") %>
              <% else %>
                <%= link_to(like.post_user.name,"/users/#{like.post_user.id}n/profile") %>
              <% end %>
          </div>
          <div class="tweet">
            <%= link_to(like.post.content,"/posts/#{like.post_id}") %>
            <!-- 下記は、写真もしくは動画の表示-->
                  <% if like.post.video? %>
                     <div class="tweet-image">
                       <% if like.post.video.content_type.include?('image/') %>
                        <img src="<%= like.post.video%>" alt="">
                       <% else %>
                        <video src="<%= like.post.video%>" controls>
                       <% end %>
                     </div>
                  <% end %>
          </div>
          <div class="like_btn" >
            <% if @current_user != nil %>
              <% if session[:guser_id] and Like.find_by(post_id: like.post_id, guser_id: session[:guser_id]) %>
                <%= link_to("/likes/#{like.post.id}/destroy", {method: :post})do %>
                 <i class="far fa-grin-hearts processed"></i>
                <%end%>
                <% elsif session[:user_id] and Like.find_by(post_id: like.post_id, user_id: session[:user_id]) %>
                  <%= link_to("/likes/#{like.post_id}/destroy", {method: :post})do %>
                   <i class="far fa-grin-hearts processed"></i>
                  <%end%>
              <% else %>
                <%= link_to("/likes/#{like.post_id}/create", {method: :post})do %>
                 <i class="far fa-grin-hearts not-process"></i>
                <% end %>
              <% end %>

              <%="#{Like.where(post_id: like.post_id).count}"%>
            <% end %>
            <!-- いいねボタン表示-->
          </div>
        </div>
      </div>
      <% end %>
    <% end %>

</div>

<!--ツイート一覧。個人の -->
</div>
