<div class="continer">
  <div class="main">
    <% @posts.each do |post| %>
     <div class="tweet-content">

       <div class="tweet-left">
         <% if post.user %>
          <img src="<%="/img-profiles/#{post.user.image_name}"%>">
         <% else %>
          <img src="<%="/img-profiles/#{post.guser.image_name}"%>">
         <% end %>
       </div>

        <div class="tweet-right">
          <div class="tweet-name">
            <% if post.user %>
              <%= link_to(post.user.name,"/users/#{post.user.id}/profile") %>
            <% else %>
              <%= link_to(post.guser.name,"/users/#{post.guser.id}n/profile") %>
            <% end %>
          </div>
          <div class="tweet">
            <%= link_to(post.content,"/posts/#{post.id}") %>
          </div>
          <% if post.video? %>
             <div class="tweet-image">
               <% if post.video.content_type.include?('image/') %>
                <img src="<%= post.video%>" alt="">
               <% else %>
                <video src="<%= post.video%>" controls>
               <% end %>
             </div>

           <% end %>
           <div class="like_btn" >
             <% if @current_user != nil %>
               <% if session[:guser_id] and Like.find_by(post_id: post.id, guser_id: session[:guser_id]) %>
                 <%= link_to("/likes/#{post.id}/destroy", {method: :post})do %>
                  <i class="far fa-grin-hearts processed"></i>
                 <%end%>
                 <% elsif session[:user_id] and Like.find_by(post_id: post.id, user_id: session[:user_id]) %>
                   <%= link_to("/likes/#{post.id}/destroy", {method: :post})do %>
                    <i class="far fa-grin-hearts processed"></i>
                   <%end%>
               <% else %>
                 <%= link_to("/likes/#{post.id}/create", {method: :post})do %>
                  <i class="far fa-grin-hearts not-process"></i>
                 <% end %>
               <% end %>

               <%="#{Like.where(post_id: post.id).count}"%>
             <% end %>
           </div>
        </div>

      </div>
    <% end %>
  </div>
</div>
